<section class="home-page">
    <div class="search">
        <label>Search Movie
            <input #searchInput />
        </label>
        <button (click)="search(searchInput.value)">SEARCH</button>
    </div>
    <div class="errmsg">
        {{errmsg}}
    </div>
    <div *ngIf="isLoad" class="loadmsg">{{loadingmsg}}</div>
    <section *ngIf="result" class="result">
        <div *ngFor="let movie of result.results" class="movie">
            <a routerLink="/movie/{{movie.id}}">
                {{movie.title}}
            </a>
            <p>{{movie.release_date}}</p>
            <p>{{movie.overview}}</p>
            <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="">
        </div>
    </section>
